body {
    background-image: url("https://images.homedepot-static.com/productImages/ad6f8302-0ca1-4469-9226-e09de670a353/svn/york-wallcoverings-wallpaper-dy0270-64_600.jpg");
    background-color: #cccccc;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }